.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
}

.todo-list ul li {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.todo-list ul li .todo-remove {
    color: #fff;
    background-color: #f00;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}