<!DOCTYPE html>
<html>
    <head>
        <title>To-Do List</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1>To-Do List</h1>
        <ul id="todo-list">
            <li>
                <input type="checkbox" />
                <span>Learn HTML</span>
                <button class="todo-delete">delete</button>
            </li>
            <li>
                <input type="checkbox" />
                <span>Learn CSS</span>
                <button class="todo-delete">delete</button>
            </li>
            <li>
                <input type="checkbox" />
                <span>Learn JavaScript</span>
                <button class="todo-delete">delete</button>
            </li>
        </ul>
        <script src="script.js"></script>
    </body>
</html>
